@import url('https//fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik',sans-serif;
  
}

:root{
  --main-color:#27a30f;
  --dark-color:#222222;
  --parg-color:#666666;
  --dark-red:#d01418;
  --border-color:#6666662a;
  --name-item:#0066c0;

}
body{
  background: #f5f6f9;
  margin-top: 180px;


}
h1,h2,h3,h4,h5,h6{
     color: var(--dark-color);

}
p{
  color: var(--parg-color);

}
.container{
  width: 90%;
  margin: auto;

}
@media (max-width:1500px){
  .container{
    width: 90%;
  
  }
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1000;

}
header .top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}
header .top-nav.logo img{
     width: 150px;

}
header .top-nav .search{
  width: 500px;
  border: 2px solid var(--main-color);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
header .top-nav .search input{
  padding: 18px 175px 18px 20px;
  outline: none;
  border: none;
  width: 100%;

}
header .top-nav .search button{
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  width: 170px;
  background-color: var(--main-color);
  height: 100%;
  font-size: 18px;
  color: var(--dark-color);
  cursor: pointer;

}
header .top-nav .cart_header{
  display: flex;
  gap: 10px;
  align-items: center;

}
header .top-nav .cart_header svg{
  color: var(--dark-color);
  font-size: 20px;
  border: 1px solid var(--border-color);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
header .top-nav .cart_header svg:hover{
  background-color: var(--main-color);
  color: #ffffff;
}
header .top-nav .cart_header .icon_cart{
  position: relative;

}
header .top-nav .cart_header .count_item{
  position: absolute;
  background: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: -5px;
  right: 0px;
  color: var(--dark-color);
  border: 1px solid var(--border-color);

}
header .top-nav .cart_header .tottal_price p{
margin-bottom: 8px;
}
header nav{
  border-top: 1px solid var(--border-color);
}
header .links{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .links ul{
  display: flex;
  gap: 70px;

}
header .links ul li a{
  color: var(--dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;

}
header .links ul li{
     position: relative;
     padding: 20px 0;

}
header .links ul li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  transition: 0.3s ease-in-out;
}
header .links ul li.active::after,
header .links ul li:hover::after{
    width: 100%;
}
header .links .login_signup a{
  color: var(--dark-color);
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-left: 10px;
  border: 5px;
}
.cart{
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  background: #ffffff;
  z-index: 1100;
  padding: 30px;
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  transition: 0.3s ease;

}
.cart.active{
  right: 0;

}
.cart .top_cart{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.cart .top_cart .close_cart svg{
  font-size: 35px;
  cursor: pointer;

}
.cart .top_cart h3{
  font-size: 18px;

}
.cart .top_cart h3 span{
  font-size: 14px;
  color: var(--parg-color);
  font-weight: normal;

}
.cart .items_in_cart{
  padding: 20px 0;
  border-block: 1px solid var(--border-color);
  margin-block: 20px;
  height: 100%;

}
.cart .item_cart{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

}
.cart .item_cart:last-child{
  margin-bottom: 0;
}
.cart .item_cart img{
  width: 100px;
}
.cart .item_cart h4{
  margin-bottom: 10px;
  font-weight: 500;
}
.cart .item_cart .delete_item{
  outline: none;
  border: none;

}
.cart .item_cart .delete_item svg{
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.cart .item_cart .delete_item svg:hover{
  color: var(--dark-red);
  transform: scale(1.2);
}
.cart .bottom_cart .total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}
.cart .bottom_cart .total .price_cart_total{
  color: var(--main-color);

}
.cart .botton_cart{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.cart .botton_cart .btn_cart{
  border: 2px solid var(--main-color) ;
  border-radius: 5px;
  color: var(--dark-color);
  padding: 15px 0;
  text-align:center;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--main-color);
  transition: 0.3s ease;
}
.cart .botton_cart .btn_cart:hover{
  background: transparent;

}
.cart .botton_cart .trans_bg{
  background: transparent;

}
.cart .botton_cart .trans_bg:hover{
  background: var(--main-color);
}
.slider .container{
  display: flex;
  justify-content: space-between;
}
.slider .container .side_bar{
  width: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;

}
.slider .container .side_bar h2{
  padding: 20px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;

}
.slider .container .side_bar a{
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-color);
  border-top: 1px solid var(--border-color);
  transition: 0.3s ease-in-out;
}
.slider.container .slide-swp{
  width: calc(100%-350px);
  overflow: hidden;
  position: relative;
}
.slider .container .slide-swp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
}
.slider .container .slide-swp .swiper-pagination span{
  background: #ffffff;
  opacity: 1;
}
.slide{
  margin-bottom: 100px;
}
.top_slide{
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);

}
.top_slide::after{
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background: var(--main-color);
}
.top_slide h2{
  text-transform: capitalize;

}
.top_slide h2 span{
  font-weight: normal;

}
.product{
  position: relative;
  background: #ffffff;
  padding: 20px 30px;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px var(--dark-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 30%;
}
.product .sale_present{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: var(--dark-red);
  color: #ffffff;
  padding: 4px 12px;
  font-size: 14px;

}

.product .img_product{
  position: relative;

}
.product .img_product img{
  width: 100%;
  transition: 0.3s ease-in-out;
}
.product .img_product .img_hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  scale: 0.1;
}
.product:hover .img_product img{
  opacity: 0;
}
.product:hover .img_product .img_hover{
  opacity: 1;
  scale: 1;

}
.product .name_product{
  font-size: 16px;
}
.product .name_product a{
  color: var(--name-item);

}
.product .name_product a:hover{
  text-decoration: underline;
}
.stars{
  margin: 15px 0;

}
.stars svg{
  color:yellow;

}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.price p{
  color: var(--main-color);
  font-weight: bold;
}
.price .old_price{
  color: var(--parg-color);
  text-decoration: line-through;
  font-size: 13px;
  font-weight: normal;
}
.features{
  margin: 50px 0;
}
.features .container{
  display: flex;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .container .feature_item{
  width: 18%;
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 20px;

}
.features .container .feature_item img{
  width: 50px;

}
.features .container .feature_item h4{
  margin-bottom: 8px;
  font-size: 15px;
}
.features .container .feature_item p{
  font-size: 12px;

}
.banner{
  margin: 50px 0;

}
.banner .container{
  display: flex;
  justify-content: space-between;

}
.banner .container .banner_img{
  width: 32%;
  position: relative;

}
.banner .container .banner_img img{
  width: 100%;

}
.banner .glass_hover{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.banner .glass_hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg,transparent 50%,
  rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.5)70% ,transparent 71%);
  background-size: 200% 100%;
  background-position: 200% 0;
  cursor: pointer;
  transition: 0.8s ;

}
.banner .glass_hover:hover:after{
  background-position: -20% 0;

}
.banner .glass_hover a{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.banner_big.banner .container .banner_img{
     width: 49%;
     position: relative;
}
.product .icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -80px;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
}
.product .icons svg{
  color: var(--dark-color);
  background: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;

}
.product .icons svg.active{
  background: var(--main-color);
  cursor: auto;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}
.product .icons svg.active::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  z-index: 5;
}
.product .icons svg:hover{
  background: var(--main-color);

}
.product:hover .icons{
  right: 20px;
}
.slide .container{
  position: relative;
}
.slide .container .mySwiper{

  overflow: hidden;
  padding: 10px;

}
.slide .container .mySwiper .btn_swip{
  position: absolute;
  top: 35px;
  right: 0;
  background: var(--main-color);
  color: #ffffff;
  font-weight: bold;
  padding: 0 18px;
  border-radius: 5px;
}
.slide .container .mySwiper .btn_swip::after{
  font-size: 25px;

}
.slide .container .mySwiper .btn_swip.swiper-button-prev{
  left: calc(100%-90px);
}
.slide_product .product_swip{
  width: calc(100%-300px);
}

.slide_product .slide_with_img{
  display: flex;
  justify-content: space-between;
}
.slide_product .categ_img{
  padding: 10px 0;
  width: 280px;
}
.slide_product .categ_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.newsletter{
  background: #ffffff;

}
.newsletter .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

}
.newsletter .text{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 20px;

}
.newsletter .text img{
  width: 100px;

}
.newsletter .text h4{
  font-size: 20px;
  font-weight: 500;


}
.newsletter .text p{
  margin: 12px 0;

}
.newsletter .text h6{
  font-size: 20px;
  font-weight: normal;

}
.newsletter .newsletter_form{
  width: 40%;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.newsletter .newsletter_form input{
  padding: 20px 175px 20px 20px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  

}
.newsletter .newsletter_form button{
  background: var(--main-color);
  outline: none;
  border: none;
  width: 170px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  color: #222222;
}